#leaderboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#filter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 5em;
  padding-right: 5em;
}

#filters {
  display: flex;
}

/* button {
  width: 9em;
  height: 3.5em;
} */

table {
  border: solid red 2px;
  padding-left: 5em;
  padding-right: 5em;
}

th {
  font-size: 3rem;
  border: solid red 2px;
}

td {
  font-size: 5rem;
  border: solid red 2px;
  text-align: center;
}

.lbImage {
  border: solid yellow 1px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#place {
  font-size: 8rem;
}

#lbHeader {
  font-size: 3rem;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
  /* font-size: 2rem; */
  width: 30em;
  height: 3em;
  cursor: pointer;
}

select {
  display: flex;
  justify-content: center;
  height: 3.4em;
  width: 30.6em;
  text-align: center;
  cursor: pointer;
}