#leaderboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#filter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 20.2em;
  padding-right: 5em;
}

#filters {
  display: flex;
}

table {
  margin-left: 20em;
  margin-right: 20em;
  background-color: rgba(0,0,0,0.2);
}

th {
  font-size: 3rem;
  border: solid rgb(129, 216, 242) 5px;
  background-color: white;
}

td {
  font-size: 5rem;
  background-color: #E6D8B9;
  text-align: center;
  margin: 0;
  padding: 0;
}

.lbImage {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  object-fit: cover;
}

#place {
  font-size: 8rem;
  background-color: #E6D8B9;
}

#lbHeader {
  color: rgb(90, 103, 174);
  font-size: 3rem;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30em;
  height: 3em;
  cursor: pointer;
  border: solid rgb(90, 103, 174) 2px;
  border-radius: 20px;
}

select {
  display: flex;
  justify-content: center;
  height: 3.4em;
  width: 30.6em;
  text-align: center;
  cursor: pointer;
  border: solid rgb(90, 103, 174) 2px;
  border-radius: 20px;
}