* {
  background-color: #171A1F;
  color: #FBFBFB;
  font-family: sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid yellow 1px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  border: solid red 2px;
  align-items: center;
}

.text {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  border: solid red 2px;
  width: 15rem;
}

.title {
  font-size: 3rem;
  display: flex;
  border: solid red 2px;
  cursor:pointer;
}

.doubleText {
  display: flex;
  flex-direction: row;
}

#play {
  width: 30rem;
}