* {
  background-color: #e7f3ff;
  color: #414b5a;
  font-family: sans-serif;
}

/* .card {
  display: flex;
  flex-direction: column;
} */

.navBar {
  display: flex;
  justify-content: space-around;
  border: solid rgb(255, 255, 255) 10px;
  padding: 10px;
  align-items: center;
  background-color: rgb(129, 216, 242);
}

.text {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  width: 15rem;
  background-color: rgb(129, 216, 242);
}

.title {
  font-size: 4rem;
  display: flex;
  /* border: solid rgb(255, 255, 255) 4px; */
  cursor:pointer;
  background-color: #efcceb;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.doubleText {
  display: flex;
  flex-direction: row;
  background-color: rgb(129, 216, 242);
}

#play {
  background-color: rgb(129, 216, 242);
  width: 30rem;
}