#howPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#howHeader {
  color: rgb(90, 103, 174);
  font-size: 5rem;
}

#howImg {
  width: 400px;
  background-color: transparent;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 3rem;
}

li {
  color: #414b5a;
}