#page-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#form-container {
  padding: 210px;
}

#form {
  display: flex;
  justify-content: center;
  border: solid white 2px;
  flex-direction: column;
  padding-bottom: 100px;
}

#form-error {
  display: flex;
  justify-content: center;
  border: solid red 2px;
  flex-direction: column;
  padding-bottom: 100px;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
  /* font-size: 2rem; */
  height: 3em;
  width: 20em;
}

select {
  display: flex;
  justify-content: center;
  height: 3.4em;
  width: 20.6em;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

#card-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid white 2px;
}

/* #formSubmit {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
} */