#page-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 210px; */
  padding-left: 143px;
  padding-right: 143px;
  border: solid 2px red;
}

#form {
  display: flex;
  justify-content: center;
  border: solid white 2px;
  flex-direction: column;
  padding-bottom: 100px;
}

#form-error {
  display: flex;
  justify-content: center;
  border: solid red 2px;
  flex-direction: column;
  padding-bottom: 100px;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
  /* font-size: 2rem; */
  width: 30em;
  height: 3em;
}

select {
  display: flex;
  justify-content: center;
  height: 3.4em;
  width: 30.6em;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

#card-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid white 2px;
}

#postHeader {
  display: flex;
  font-size: 4rem;
}

#formSubmit {
  height: 4em;
  /* display: flex; */
  /* justify-content: center; */
  /* width: 15em;
  /* text-align: center; */
  /* padding-top: 20px; */
}